{% extends 'base.html' %}

{% block content %}


    <center><h1>BANK SOAL</h1></center>
    
    <h2><strong>Lingkaran & Unsur-Unsurnya</strong></h2>
    <h2><strong> Latihan </strong></h2>
        <p align = "justify"><b>Kerjakanlah soal-soal di bawah ini dengan benar!</b></p>
        <ol>
            <li>Jelaskan pengertian lingkaran!</li>
            <li>Sebutkan dan jelaskan unsur-unsur lingkaran!</li>
            <li>Jika sebuah lingkaran memiliki jari-jari 12,75 maka berapakah diameter lingkaran tersebut?</li>
            <li>Berdasarkan gambar di bawah ini, tunjukkanlah apotema!
                <p align="justify"><img src="https://imgix2.ruangguru.com/assets/miscellaneous/png_cfytoo_5343.png" width="25%"></p></li>
            <li>Terbagi berapakah busur dalam lingkaran? Jelaskan!</li>
        </ol>
        <p align = "justify"><b>Pembahasan</b></p>
        <ol>
            <li>Lingkaran adalah kurva tertutup sederhana yang merupakan tempat kedudukan titk-titk yang berjarak sama terhadap suatu titik tertentu.</li>
            <li>Unsur-unsur lingkaran yaitu:
                <ol type="a">
                    <li>Titik pusat lingkaran adalah titik yang terletak di tengah-tengah lingkaran.</li>
                    <li>Jari-jari lingkaran adalah garis yang ditarik dari titik pusat ke lengkungan suatu lingkaran dan akan selalu berjarak sama</li>
                    <li>Diameter lingkaran adalah garis lurus yang menghubungkan dua titik pada suatu lengkungan lingkaran dan melalui titik pusat.</li>
                    <li>Tali busur adalah ruas garis yang menghubungkan dua titik pada keliling lingkaran.</li>
                    <li>Apotema adalah jarak terpendek antara tali busur dan titik pusat suatu lingkaran.</li>
                    <li>Busur lingkaran adalah garis lengkung tempat bertemunya dua garis jari-jari yang membentuk juring lingkaran.</li>
                    <li>Juring lingkaran adalah daerah yang dibatasi oleh dua jari-jari.</li>
                    <li>Tembereng lingkaran adalah daerah yang dibatasi oleh tali busur.</li>
                </ol>
            <li><p align="justify"><i>r</i> = 12,75</p>
                <p align="justify"><i>d</i> = 2<i>r</i> = 2 × 12,75 = 25,50 </p>
            </li>
            <li>Apotema = OE </li>
            <li>Terbagi menjadi 2, yaitu:</li>
                <ol type="a">
                    <li>Busur besar/panjang, yaitu busur GH yang panjangnya lebih besar dari setengah lingkaran.</li>
                    <li>Busur kecil/pendek, yaitu busur GH yang panjangnya lebih kecil dari setengah lingkaran.</li>
                </ol>
        </ol>
        <br>

        <h2><strong> Evaluasi </strong></h2>
        <p align = "justify"><b>Kerjakanlah soal-soal di bawah ini dengan benar!</b></p>
        <ol>
            <li>Amatilah benda-benda berbentuk lingkaran yang ada di sekitarmu, kemudian tuliskan besar diameter dan jari-jari dari benda tersebut! (Minimal 3 benda)</li>
            <li>Apakah bola berbentuk lingkaran? Jelaskan alasannya.</li>
            <li>Buatlah lingkaran dengan jari-jari 14 cm secara lengkap dengan unsur-unsurnya!</li>
            <li>Sebutkanlah unsur-unsur dari lingkaran yang telah kamu buat pada soal nomor 3!</li>
            <li>Tuliskan kesimpulan yang kamu dapatkan setelah mempelajari materi tentang Lingkaran dan Unsur-unsurnya!</li>
        </ol> <br>

        <h2><strong>Keliling & Luas Lingkaran</strong></h2>
        <h2><strong>Latihan</strong></h2>
        <ol>
            <li>Sebuah roda memiliki diameter 60 cm, berapakah keliling dan luas roda tersebut?</li>
            <li>Jari-jari ban mobil Pak Rizal adalah 56 cm. Saat Pak Rizal mengendarai mobil tersebut, ban mobil berputar sebanyak 150 kali. Berapakah jarak yang ditempuh Pak Rizal?</li>
            <li><p align = "justify">Sebuah lingkaran berada di dalam persegi seperti gambar di bawah ini. Jika Panjang sisi persegi tersebut adalah 28 cm maka luas wilayah yang diarsisr adalah…</p>
                <p align = "justify"><img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhDeGhBws8hQX6dcj2vIk3JmBINNXR4crC7w6KbpxF96zkHCcwF9ODh2s5Zsii56n5k7mHgPlFCdwdEyfvcr8V-FCjc793vW4seXKMO3-_annCIgDzfdC4TSIkIc0gyOQDjPDAajBKhkZrnTY0J8hQwHgug_zlev54crEQhZe4dihiWilH8nQTR5Apf/s320/lingkaran5.png"; width="20%";></p> </li>
            <li>Sebuah jam dinding memiliki keliling 176 cm, maka berapakah luasnya?</li>
            <li>Sebuah kebun berbentuk lingkaran dan memiliki keliling 88 meter. Kebun tersebut akan ditanami rumput dengan harga Rp. 50.000,00 per meternya. Hitunglah biaya yang dibutuhkan untuk menanam rumput.</li>
        </ol>
        <p align="justify"><b>Pembahasan:</b></p>
        <ol>
            <li>
                <p align="justify">Diketahui: <i>d</i> = 60 cm </p>
                <p align="justify">Ditanyakan: keliling dan luas lingkarannya </p>
                <p align="justify">Penyelesaian: </p>
                <p align="justify"><i>d</i> = 60 cm maka <i>r</i> = &frac12; <i>d</i> = &frac12; × 60 = 30 cm </p>
                <p align="justify"><i>k</i> = π<i>d</i> = 3,14 × 60 = 188,4 cm </p>
                <p align="justify"><i>L</i> = π<i>r</i><sup>2</sup> = 3,14 × 30 × 30 = 2826 cm<sup>2</sup></p>
                <p align="justify">Jadi, keliling lingkarannya adalah 188,4 cm dan luasnya adalah 2826 cm<sup>2</sup>.</p>
            </li>
            <li>
                <p align="justify">Diketahui: <i>r</i> = 56 cm dan banyaknya putaran adalah 150.</p>
                <p align="justify">Ditanyakan: jarak yang ditempuh = ?</p>
                <p align="justify">Penyelesaian:</p>
                <p align="justify">Jarak yang ditempuh	= keliling × banyaknya putaran = 2π<i>r</i> × 150 = 2 × 22/7 × 56 × 150 = 52.800 meter </p>
            </li>
            <li>
                <p align="justify">Diketahui: s = 28 cm </p>
                <p align="justify">Ditanyakan: luas wilayah yang diarsir = ?</p>
                <p align="justify">Penyelesaian:</p>
                <p align="justify">Luas persegi	= s × s = 28 × 28 =784 cm<sup>2</sup>	</p>
                <p align="justify">Kemudian, sisi persegi merupakan diameter lingkaran sehingga, </p>
                <p align="justify">d = 28 cm, maka r = 14 cm </p>
                <p align="justify">Luas lingkaran = πr<sup>2</sup> = 22/7 × 14<sup>2</sup> = 616 cm<sup>2</sup> </p>
                <p align="justify">Luas wilayah yang diarsir = Luas persegi – Luas lingkaran = 784 - 616 = 168 cm<sup>2</sup></p>
            </li>
            <li>
                <p align="justify">Diketahui: <i>k</i> = 176 cm</p>
                <p align="justify">Ditanyakan: <i>L</i> = ?</p>
                <p align="justify">Penyelesaian:</p>
                <p align="justify"><i>k</i> = 176 cm </p>
                <p align="justify">176 = 2 × π × <i>r</i> </p>
                <p align="justify">176 = 2 × 22/7 × <i>r</i> </p>
                <p align="justify">176 = 44/7 × <i>r</i> </p>
                <p align="justify"><i>r</i> =( 176 × 7)/44 </p>
                <p align="justify"><i>r</i> = 28 cm </p>
                <p align="justify">Sehingga:</p>
                <p align="justify">Luas lingkaran = π<i>r</i><sup>2</sup> = 22/7 × 28<sup>2</sup> = 2464 cm<sup>2</sup></p>	
            </li>
            <li>
                <p align="justify">Diketahui:</p>
                <p align="justify">Keliling taman yang akan ditanami rumput (<i>k</i>) = 88 m </p>
                <p align="justify">Harga rumput = Rp. 50.000,00 / meter </p>
                <p align="justify">Ditanyakan: Biaya yang dibutuhkan untuk menanam rumput = ? </p>
                    <p align="justify">Penyelesaian: </p>
                        <p align="justify"><i>k</i> = 2π<i>r</i> </p> 
                            <p align="justify">88 = 2 × 22/7 × <i>r</i> </p>
                                <p align="justify">88 = 44/7 × <i>r</i> </p> 
                                    <p align="justify"><i>r</i> = (88 × 7)/44 </p> 
                                        <p align="justify"><i>r</i> = 14 cm 
                                            <p align="justify">Luas lingkaran = π<i>r</i><sup>2</sup> =  22/7 14<sup>2</sup> = 616 m<sup>2</sup> </p>
                        <p align="justify">Sehingga,</p>
                            <p align="justify">Biaya yang dibutuhkan = 616 × Rp. 50.000,00 = Rp. 30.800.000,00 </p>
            
            </li>
        </ol> <br></br>
    
        <h2><strong>Evaluasi</strong></h2>
        <ol>
            <li>
                Hitunglah keliling lingkaran jika jari-jarinya:
                <ol type="a">
                    <li>21 cm</li>
                    <li>40 cm</li>
                    <li>77 cm</li>
                    <li>105 cm</li>
                </ol>
            </li>
            <li>
                Hitunglah luas lingkaran jika diameternya:
                <ol type="a">
                    <li>48 cm</li>
                    <li>42 cm</li>
                    <li>56 cm</li>
                    <li>200 cm</li>
                </ol>
            </li>
            <li><p align="justify">Hitunglah luas daerah yang diarsir pada gambar di bawah ini jika diketetahui panjang sisi persegi panjangnya 20 cm dan lebarnya setengah dari panjangnya.</p>
                <p align="justify"><img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhKDaqe7WWuLUBLuPcSdwgJ1plNzPp6ZU7B5ANYC0VFYQN3KewGnNMbk9B6J1zSFxqyB5nbwbVgOenYcVl9jnxTBe1esgeJwhpLauYsaVeWWe4tQ6AGfn_gUKHVv9UDe4Z9-mxYDlffLGwZCGeB3SRp3eHM1-ynyFihnaonQmFGu2Mv_pZ1K0Ljl88G/s320/lingkaran6.png"; width="25%">  </p>
            </li>
            <li>Ibu akan membuat sebuah taplak meja berbentuk lingkaran yang luasnya adalah 616 cm<sup>2</sup>. Ibu berencana untuk memasangkan pita pada sekeliling taplak meja itu. Jika harga pita per meternya adalah Rp. 2.500,00 maka berapakah biaya yang dibutuhkan Ibu untuk memasangkan pita tersebut?</li>
            <li>Ayah akan mengendarai sepeda saat olahraga berkeliling komplek pada hari Minggu nanti. Ban sepeda Ayah memiliki diameter sebesar 63 cm. Ayah berencana akan mengelilingi komplek sebanyak 20 kali putaran, maka berapakah jarak yang akan Ayah tempuh?</li>
        </ol> <br>

        <h2><strong>Garis Singgung Lingkaran</strong></h2>
        <h2><strong>Latihan</strong></h2>
        <p align="justify"><b>Kerjakanlah soal-soal berikut ini dengan benar!</b></p>
        <ol>
            <li>
                Disebut sebagai titik apakah titik yang merupakan perpotongan garis pada lingkaran?
            </li>
            <li>
                Berapakah sudut yang terbentuk dari garis singgung lingkaran dan jari-jari atau diameter yang melalui titik singgungnya?
            </li>
            <li>
                Panjang jari-jari sebuah lingkaran 16 cm dan jarak titik di luar lingkaran dengan pusat adalah 34 cm. Berapakah panjang garis singgung lingkaran tersebut?
            </li>
            <li>
                Diketahui dua buah lingkaran dengan jari-jari lingkaran masing-masing R dan r. Jika jarak kedua titik pusat lingkaran j, rumus panjang garis singgung persekutuan dalam adalah...
            </li>
            <li>
                Berdasarkan soal nomor 3, jika jari-jari lingkarannya dijadikan 2 kali lipatnya dan jarak titik di luar lingkaran dengan pusat adalah 50 cm, maka berapakah panjang garis singgung tersebut?
            </li>
        </ol>
        <p align="justify"><b>Pembahasan:</b></p>
        <ol>
            <li>Titik singgung</li>
            <li>90°</li>
            <li><p>Misal ilustrasi lingkarannya adalah sebagai berikut.</p>
                <p><img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjbMGqrrWaIfL4Tg6Kf9sviOdt9MOdhwVIiyYVhcKBtRbreVnQHFyBzJEjMCs5Cv5ZtoWqXygRebZ_gFUV5EXa1jvVxwumazLi08kBqPJq_tW4vbVBM5-ZHxzP3UsFqribomQj4tF05QU_NgtxJBu14OACrA0HzJPjjQPosQPGNGnT66oMp7dJqvezK/s320/lingkaran16.jpg"; width="25%";></p>
                <p align="justify">Panjang garis singgung (x) dapat kit acari menggunakan rumus Pythagoras sebagai berikut.</p>
                <p align="justify">x = √(34<sup>2</sup> - 16<sup>2</sup>) = √900 = 30 cm
            </li>
            <li>
                <p align="justify">Jari-jari lingkaran besar = R</p>
                <p align="justify">Jari-jari lingkaran kecil = r</p>
                <p align="justify">Jarak titik pusat dua lingkaran = j</p>
                <p align="justify">Maka: Panjang garis singgung persekutuan dalam = √(j<sup>2</sup> - (R+r)<sup>2</sup>)</p>
            </li>
            <li>
                <p>Ilustrasi:</p>
                <p><img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgNGhtYcLxz1x4kd3mzW-uwnfjTCYtZDwMmtZW1Bdk8Kpn5MBMwSjIalyyUw-wo5c9LyKrSYtBAwrG6L4I5IJANEfcewq3wtgYEyPgS8tQTWl83OaGmFNcLcLdRg0fAa1sziqP-6I3wkO9_lXo1zVSNorGBFn0fnZOXJJ5IlMGJG6SSCBhO4dUy7ctk/s320/lingkaran17.jpg"; width="25%";></p>
                <p align="justify">Sehingga: Panjang garis singgung (x) dapat kita cari menggunakan rumus Pythagoras sebagai berikut.</p>
                <p align="justify">x = √(50<sup>2</sup> - 32<sup>2</sup>) = √1476 = 38,42 cm </p>
            </li>
        </ol><br></br>
        
        <h2><strong>Evaluasi</strong></h2>
        <ol>
            <li>Jelaskan yang dimaksud dengan garis singgung lingkaran!</li>
            <li><p align="justify">Tentukanlah panjang garis singgung lingkaran di bawah ini jika jari-jarinya adalah 6 cm dan jarak titik di luar lingkaran dengan pusat adalah 8 cm.</p>
                <p align="justify"><img src="https://mathcyber1997.com/wp-content/uploads/2020/04/singgung-9.png" width="25%"></p>
            </li>
            <li>Buatlah ilustrasi garis singgung lingkaran 25 cm dan tentukanlah panjang jari-jari dan jarak titik di luar lingkaran dengan pusatnya!</li>
            <li>Mengapa untuk mencari panjang garis singgung lingkaran dapat menggunakan teorema Pythagoras?</li>
            <li>Tentukanlah jarak titik di luar lingkaran dengan pusatnya jika jari-jari lingkarannya 8 cm dan panjang garis singgung lingkarannya adalah 17 cm!</li>
        </ol><br>

        <h2><strong>Garis Singgung Persekutuan Dua Lingkaran</strong></h2>
        <h2><strong>Latihan</strong></h2>
        <p align="justify"><b>Kerjakanlah soal-soal berikut ini dengan benar!</b></p>
        <ol>
            <li>Sebutkan macam-macam kedudukan lingkaran!</li>
            <li>Panjang garis singgung persekutuan dalam dua lingkaran adalah 15 cm dan kedua titik pusatnya terpisah sejauh 17 cm. Jika panjang jari-jari salah satu lingkaran adalah 3 cm, tentukan panjang jari-jari lingkaran yang lain.</li>
            <li>Jika sebuah lingkaran O berjari-jari 7 cm dan lingkaran P berjari-jari 5 cm. Tentukan panjang garis singgung persekutuan luar AB! (Kedua lingkaran bersinggungan di luar).</li>
            <li>Panjang jari-jari dua lingkaran adalah 11 cm dan 2 cm. Jika panjang garis singgung persekutuan luarnya adalah 12 cm maka tentukanlah jarak kedua pusat lingkarannya!</li>
            <li>Panjang garis singgung persekutuan dalam dua lingkaran adalah 16,94 cm dan jarak kedua pusatnya adalah 24 cm. Jika panjang salah satu jari-jari lingkaran adalah 12 cm, maka hitunglah panjang jari-jari lingkaran yang lain!</li>
        </ol>
        <p align="justify"><b>Pembahasan:</b></p>
        <ol>
            <li>Kedudukan dua lingkaran dapat dikelompokkan menjadi tiga macam, yaitu dua lingkaran bersinggungan, berpotongan, dan saling lepas.</li>
            <li>
                <p align="justify">Panjang garis singgung persekutuan dalam adalah 15 cm maka d = 15 cm.</p>
                    <p align="justify">Jarak kedua titik pusatnya adalah 17 cm maka k = 17 cm.</p>
                        <p align="justify">Panjang jari-jari (R) salah satu lingkaran adalah 3 cm maka R = 3 cm.</p>
                            <p align="justify">Sehingga:</p>
                                <p align="justify">d = √(k<sup>2</sup> - (R+r)<sup>2</sup>)</p> 
                                    <p align="justify">15 = √(17<sup>2</sup> - (3+r)<sup>2</sup>)</p> 
                                        <p align="justify">15<sup>2</sup> = 17<sup>2</sup> - (3 + r)<sup>2</sup></p> 
                                            <p align="justify">225 = 289 - (3 + r)<sup>2</sup></p> 
                                                <p align="justify">(3 + r)<sup>2</sup> = 289 - 225 </p> 
                                                    <p align="justify">(3 + r)<sup>2</sup> = 64 </p> 
                                                        <p align="justify">3 + r = √64 </p> 
                                                            <p align="justify">3 + r = 8 </p> 
                                                                <p align="justify">r = 8 - 3 </p> 
                                                                    <p align="justify">r = 5 cm </p>		
            </li>
            <li>
                <p align="justify">Dari soal diketahui:</p>
                    <p align="justify">AO = R = 7 cm BP = r = 5 cm</p>
                        <p align="justify">Kedua lingkaran bersinggungan di luar sehingga jarak kedua titik pusat lingkaran adalah:</p>
                            <p align="justify">OP = R + r = 7 + 5 = 12 cm maka: </p>
                                <p align="justify">AB = √(OP<sup>2</sup> - (R - r)<sup>2</sup>)</p> 
                                    <p align="justify">AB = √(12<sup>2</sup> - (7 - 5)<sup>2</sup>) </p>
                                        <p align="justify">AB = √(144 - 2<sup>2</sup>)</p> 
                                            <p align="justify">AB = √140</p> 
                                                <p align="justify">AB = 2√35 </p> 
            </li>
            <li>
                <p align="justify">Diketahui:</p>
                    <p align="justify">l = 12 cm</p>
                        <p align="justify">R = 11 cm</p> 
                            <p align="justify">r = 2 cm </p>
                                <p align="justify">Ditanyakan: k = ? </p>
                                    <p align="justify">Penyelesaian:</p>
                                        <p align="justify">l = √(k<sup>2</sup> - (R - r)<sup>2</sup>)</p> 
                                            <p align="justify">l<sup>2</sup> = k<sup>2</sup> - (R - r)<sup>2</sup></p>
                                                <p align="justify">12<sup>2</sup> = k<sup>2</sup> - (11 - 2)<sup>2</sup></p> 
                                                    <p align="justify">144 = k<sup>2</sup> - (9)<sup>2</sup></p> 
                                                        <p align="justify">144 = k<sup>2</sup> - 81 </p> 
                                                            <p align="justify">k<sup>2</sup> = 144 + 81 </p> 
                                                                <p align="justify">k<sup>2</sup> = 225 </p>
                                                                <p align="justify">k = √225 </p> 
                                                                    <p align="justify">k = 15 cm  </p>
                                                                        <p align="justify">Jadi, jarak kedua pusat lingkarannya adalah k = 15 cm </p> 
            </li>
            <li>
                <p align="justify">Diketahui:</p>
                    <p align="justify">d = 16,94 cm</p>
                        <p align="justify">k =  24 cm</p>
                            <p align="justify">R = 12 cm</p>
                                <p align="justify">Ditanyakan: r = ?</p>
                                    <p align="justify">Penyelesaian:</p>
                                        <p align="justify">d = √(k<sup>2</sup> - (R + r)<sup>2</sup>)</p> 
                                            <p align="justify">d<sup>2</sup> = k<sup>2</sup> - (R + r)<sup>2</sup></p> 
                                                <p align="justify">(16,94)<sup>2</sup> = 24<sup>2</sup> - (12 + r)<sup>2</sup></p> 
                                                    <p align="justify">286,9636 = 576 -(12 + R)<sup>2</sup></p> 
                                                        <p align="justify">(12 + R)<sup>2</sup> = 576 - 286,9636 </p>
                                                            <p align="justify">(12 + R)<sup>2</sup> = 289,0364 </p>
                                                                <p align="justify">12 + R = √289,0364 </p> 
                                                                    <p align="justify">12 + R = 17,001  </p>
                                                                        <p align="justify">R = 17,001 - 12 </p> 
                                                                            <p align="justify">R = 5,001 cm </p>
            </li> <br></br>
        </ol>
            
        <h2><strong>Evaluasi</strong></h2>
        <p align="justify"><b>Kerjakanlah soal-soal berikut ini dengan jawaban yang benar!</b></p>
        <p align="justify"><ol>
            <li>Diketahui dua lingkaran dengan jari-jari 14 cm dan 4 cm. Tentukan panjang garis singgung persekutuan dalam kedua lingkaran tersebut jika jarak antara kedua titik pusatnya adalah 30 cm.</li>
            <li>Dua buah lingkaran berjari-jari masing-masing 2 cm dan 7 cm. Jika jarak kedua pusat lingkaran 15 cm, maka panjang garis singgung persekutuan dalam kedua lingkaran tersebut adalah . . . . cm.</li>
            <li>Gambarkanlah dua lingkaran yang berpotongan dengan jari-jari diameter pertama adalah 21 cm dan jari-jari lingkaran kedua adalah 14 cm!</li>
            <li>Diketahui jarak dua pusat lingkaran adalah 34 cm, dan panjang jari-jari lingkaran A sama dengan dua kali panjang jari-jari lingkaran B. Jika panjang garis singgung persekutuan dalam kedua lingkaran tersebut adalah 16 cm, maka selisih panjang jari-jari kedua lingkaran tersebut adalah . . . . cm.</li>
            <li>Jika jarak antara dua titik pusat lingkaran adalah 17 cm dan jari-jari kedua lingkaran adalah 17 cm dan 9 cm maka hitunglah panjang garis singgung persekutuan luarnya!</li>
        </ol></p><br>

    {{title | upper }} <br>
    {% for s1 in s1 %}
        <li>{{s1}}</li>
    {% endfor %}

{% endblock %}