<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <div class="logo-details">
        <i class='bx bxs-tone'></i>
      <a class="navbar-brand" href="/">O-Math</a></div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/beranda">Beranda</a>
          </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Materi</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/materi">Lingkaran & Unsur-Unsurnya</a>
                  <a class="dropdown-item" href="/materi2">Keliling & Luas Lingkaran</a>
                  <a class="dropdown-item" href="/materi3">Garis Singgung Lingkaran</a>
                  <a class="dropdown-item" href="/materi4">Garis Singgung Persekutuan Dua Lingkaran</a>
            </div>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="/rangkuman">Rangkuman</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/soal">Bank Soal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/kontak">About</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>